@import '../../variables.scss';

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: $text; 
  
	  .card-img {
		margin: 0;
	  }
  
	  .info-container {
		display: flex;
		justify-content: space-between;
		color: $yellow;
	  }
	  .utils-container {
		display: flex;
		justify-content: space-between;
		margin-top: 0;
		margin-left: 1em;
		margin-right: 1em;
		margin-bottom: 0;
		color: $yellow;

		.utils-container-addto {
			display: flex;
			gap: 0.5em;

			span {
				width: 1em;
			}
		}

	  }
	  p {
		margin-top: 1em;
		margin-left: 1em;
		margin-right: 1em;
	  }

	  h6 {
		  margin: 1em;
		  margin-top: 0;
	  }

	  h3 {
		  margin: 0.5em;
		 
		  
	  }
	
  
  }

  @media (min-width: 900px) {
	.card-container {
		display: flex;
		justify-content: center;

	}

	  .card {
		  display: grid;
		  grid-template-columns: 1fr , 0.5fr;
		  grid-template-rows: fit-content, auto, auto, auto, auto;
		  padding: 2em;
		  width: 70%;
		  gap: 1.5em;
		 
		  

		  h3 {
			  margin: 0;
			  grid-row: 1;
			  grid-column: 2;
			  height: fit-content;
		  }

		  .info-container {
			  grid-row: 2;
			  grid-column: 2;
		  }
		  p {
			  grid-row: 4;
			  grid-column: 2;
			  
		  }

		  .actorInfo-container {
			  grid-column: 2;
			  grid-row: 5;
		  }

		  .utils-container {
			  grid-column: 2;
			  grid-row: 3; 
		  }

		  .card-img {
			  width: 400px;
			  height: auto;
			  justify-self: center;
			  grid-row: span 5;
			  grid-column: 1;

		  }
	  }
	  
  }