@import '../../variables.scss';

footer {
	background-color: black;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	position: fixed;
	bottom: 0;

	.socialmedia-container {
		color: $text;
		display: flex;
		gap: 0.5em;
	}

	.logo-container {
		text-align: end;
		display: flex;
		flex-direction: column;	

		.logotext	{
		font-family: $fontLogo;
		color: $yellow;
		margin: 0;
		height: 15px;
	

		span {
			color: $green;
		}
	}
	
	}

	.year {
		font-size: 10px;
		margin: 0;
		color: $text;
	}
	

	
}