@import '../../variables.scss';

footer {
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	margin-bottom: 5em;

	.socialmedia-container {
		color: $text;
		display: flex;
		gap: 0.5em;
	}

	.logo-container {
		text-align: end;
		display: flex;

		.logotext	{
		font-family: $fontLogo;
		color: $yellow;
		margin-right: 0.5em;
		height: 15px;
	

		span {
			color: $green;
		}
	}
	
	}

	.year {
		font-size: 10px;
		margin: 0;
		color: $text;
	}
	
}

