@import "../../variables.scss";

header {
	height: 8%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $background;
	padding: 1rem;

	a {
		text-decoration: none;
	}

	.nav-hamburger {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 30px;
		height: 20px;
		cursor: pointer;
		transition: transform 2s ease-in-out;

		.line {
			height: 3px;
			width: 100%;
			background-color: $text;
			border-radius: 1rem;
		}
	}
						
		.opacity {
			opacity: 0;
		}

		.rotate {
			transform: translateY(9px) rotate(45deg);
		}

		.rotateB {
			transform: translateY(-8px) rotate(-45deg);
		} 
	
	

	h4 {
		font-family: $fontLogo;
		color: $yellow;

		span {
			color: $green;
		}
	}
	
}

