@import '../../variables.scss';

.position {
	position: absolute;
	right: 2em;
	bottom: 0.5em;
	display: flex;
	gap: 0.5em;


}

.layout-button {
	background: none;
	font-size: 0.8em;
	cursor: pointer;
}

.layout {
	position: relative;
	color: $text;
}

@media (max-width: 440px) {
	.position {
		bottom: 3.5em;
	}
	
}

