@import '../../variables.scss';
.layout-button {
	background: none;
	font-size: 1em;
	border: solid 1px darkgrey;
	cursor: pointer;
	border-radius: 1em 1em 1em 1em;
}

.layout {
	display: flex;
	gap: 0.5em;
	margin-left: 75%;
	color: $text;
}

.layout-button:hover {
	border-color: $green; 
}