// 01 Color - variables
$green: #23B856;
$yellow: #FFE815;
$background: #292929;
$text: #FFFFFF;
$hovergreen: #67A981;
$hoveryellow: #fff59C;

// 02 Typography
$fontLogo: 'Galindo', cursive;
$fontBar: 'Barlow', sans-serif;
$fontBell: 'Bellefair', serif;
$fontBarCon: 'Barlow condensed', sans-serif;
$bigLetterSpace: 4.72px;
$smallLetterSpace: 2.7px;
$textSizeBig: 1.5rem;
$textSizeSmall: 1.3em;
